body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.logo img {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
}

.menu {
    margin-top: 20px;
}

.menu button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #0056b3;
}
